<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>APGF</title>
    <link rel="shortcut icon" href="../../../../assets/icons/ic_logo_red.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../style/app.css">
    <link rel="stylesheet" href="../../style/fonts.css">
    <link rel="stylesheet" href="../../style/component_footer.css">
    <link rel="stylesheet" href="../../style/component_navbar.css">
    <link rel="stylesheet" href="../../style/component_divider.css">
    <link rel="stylesheet" href="../../style/page_portfolio.css">

</head>

<body>
    <div class="app">
        <!--navbar-->
        <nav id="navbar" class="container d-flex p-0 m-0">
            <div class="row nav-row p-0 m-0">
                <div class="col-2">
                    <div class="div-logo d-flex align-items-center justify-content-center">
                        <img class="img-logo d-flex align-self-center justify-content-center" alt="logo"
                            src="../../../../assets/icons/ic_logo_red.png"
                            onclick="window.location.href='../home_page/index.html'">
                    </div>
                </div>

                <div class="col-10 d-flex align-items-center justify-content-end pe-0 overflow-hidden">
                    <div class="actions d-flex align-items-center justify-content-end">
                        <div class="row ms-3 pt-3 d-flex flex-fill">
                            <div class="col-4 div-nav-link flex-column d-flex align-items-center justify-content-center">
                                <a class="nav-link a-link" href="../who_page/index.html">¿Quién soy?</a>
                            </div>
                            <div class="col-4 flex-column d-flex align-items-center justify-content-center">
                                <a class="nav-link a-link  my-active" href="../portfolio_page/index.html">Portafolio</a>
                            </div>
                            <div class="col-4 flex-column d-flex align-items-center justify-content-center">
                                <a class="nav-link a-link" href="../contact_page/index.html">Contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--divider-->
        <div class="divider-line"></div>
        <!--content-->
        <div id="content">
            <div class="container" id="content-container">
                <div class="row">
                    <label class="principal-text">PORTAFOLIO</label>
                </div>
                <div class="row">
                    <div class="col-1 col-lines-1">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                    </div>
                    <div class="col-10">
                        <div class="row d-flex">
                            <div class="col-7">
                                <div class="div-invite">
                                    <label for="" class="lbl-invite">
                                        ¡Te invito a ver mis proyectos más destacados de diseño!
                                    </label>
                                    <label for="" class="lbl-distinguish">
                                        Me distingue la claridad, el uso <br> del color y la armonía visual.
                                    </label>
                                </div>
                                <div class="img-arrow-div">
                                    <img class="img-arrow" alt="arrow" src="../../../../assets/icons/ic_arrow_r_2.png">
                                </div>
                            </div>

                            <div class="col-5 flex-column d-flex">
                                <div class="row d-flex align-items-center justify-content-start">
                                    <div class="col-2 me-3 div-label-tag flex-column d-flex align-items-start">
                                        <label for="" class="label-tag align-middle">
                                            Básico
                                        </label>
                                    </div>
                                    <div class="col-4">
                                        <div class="rule"></div>
                                    </div>
                                    <div class="col-2">
                                        <button class="rounded-button" onclick="window.location.href = '../contact_page/index.html';">
                                            <label>Paquete 1</label>
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row d-flex align-items-center justify-content-start">
                                    <div class="col-3 me-3 div-label-tag flex-column d-flex align-items-start">
                                        <label for="" class="label-tag align-middle">
                                            Premium
                                        </label>
                                    </div>
                                    <div class="col-3">
                                        <div class="rule-premium"></div>
                                    </div>
                                    <div class="col-2">
                                        <button class="rounded-button" onclick="window.location.href = '../contact_page/index.html';">
                                            <label>Paquete 2</label>
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <div class="row div-ask d-flex justify-content-center align-items-center p-0">
                                    <div class="text-center col-1 flex-column d-flex justify-content-center align-items-center p-0 m-0">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="col-10 flex-column d-flex justify-content-center align-items-center p-0 m-0 flex-fill">
                                        <label for="" class="lbl-ask">Pregunta por los paquetes de diseño</label>
                                    </div>
                                    <div class="text-center col-1 flex-column d-flex justify-content-center align-items-center p-0 m-0">
                                        <div class="dot"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex row-separation">
                            <div class="col-7">
                                <div class="div-img-c1" id="">
                                    <img class="img-c1" alt="coffe" id="img-coffe" src="../../../../assets/img/img_c_1.png">
                                    <img class="next-button-1" src="../../../../assets/icons/ic_ar.png" onclick="onClickNextCoffe()">
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="div-img-c2" id="">
                                    <img class="img-c2" alt="virginia" id="img-virginia" src="../../../../assets/img/img_v_1.png">
                                    <img class="next-button-1" src="../../../../assets/icons/ic_ar.png" onclick="onClickNextVirginia()">
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex row-separation-2">
                            <div class="div-img-c3">
                                <img src="../../../../assets/img/img_dh.jpg" alt="dolores hidalgo" class="img-c3">
                            </div>
                        </div>
                        <br>
                        <div class="row d-flex flex-row-reverse">
                            <div class="div-img-c3">
                                <img src="../../../../assets/img/img_dd.jpg" alt="img" class="img-c3">
                            </div>
                        </div>
                        <div class="row row-separation d-flex justify-content-between">
                            <div class="col-6 d-flex justify-content-start">
                                <img src="../../../../assets/img/img_dr.jpg" alt="img" class="img-c4">
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <img src="../../../../assets/img/img_lorax.png" alt="img" class="img-c4">
                            </div>
                        </div>
                        <div class="row row-separation-2">
                            <div class="col-9 flex-column justify-content-end">
                                <div class="row justify-content-end text-end">
                                    <label for="" class="lbl-mcont">Más contenido:</label>
                                </div>
                                <div class="row justify-content-end text-end">
                                    <label for="" class="lbl-idi red-link" 
                                    onclick="window.location.href='https://www.instagram.com/a.p_imaginandodiseno/'">@a_p.imaginandodiseno</label>
                                </div>
                            </div>
                            <div class="col-1">
                                <img src="../../../../assets/icons/ic_arrow_r_3.png" alt="img" class="img-arrow-mc">
                            </div>
                        </div>
                        <div class="row d-flex text-center row-separation-3">
                            <div class="col-12 d-flex justify-content-center">
                                <img src="../../../../assets/icons/ic_finals.png" alt="img" class="img-finals">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lines-2">
            <div class="line-3"></div>
            <div class="line-4"></div>
        </div>
        <!--divider-->
        <div class="divider-line"></div>
        <br>
        <br>
        <br>
        <!--footer-->
        <footer id="footer" class="container-fluid d-flex p-0 m-0 align-items-center justify-content-center">
            <div class="row footer-row m-0 d-flex align-items-center justify-content-center">
                
                <div class="col-3 flex-column align-items-center justify-content-center">
                    <div class="row">

                        <div class="col-5 flex-column d-flex align-items-center justify-content-center">
                            <div class="row">
                                <div class="col-4 flex-column d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img alt="tiktok" src="../../../../assets/icons/ic_tiktok.png"
                                            class="img-social-ic social-ic"
                                            onclick="window.location.href='https://www.tiktok.com/@a.p_imaginandodiseno?_t=8coVOzjpAyz&_r=1'">
                                    </div>
                                </div>
        
                                <div class="col-4 flex-column d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img alt="facebook" src="../../../../assets/icons/ic_facebook.png"
                                            class="img-social-ic social-ic"
                                            onclick="window.location.href='https://www.facebook.com/profile.php?id=100090350306200'">
                                    </div>
                                </div>
        
                                <div class="col-4 flex-column d-flex align-items-center justify-content-center">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <img alt="instagram" src="../../../../assets/icons/ic_insta.png"
                                            class="img-social-ic social-ic"
                                            onclick="window.location.href='https://www.instagram.com/a.p_imaginandodiseno/'">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 flex-column d-flex align-items-center justify-content-center">
                            <div class="row d-flex align-items-center justify-content-center">
                                <label class="footer-text">Imaginando diseño</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3 flex-column d-flex align-items-center justify-content-center">
                    <div class="row" onclick="window.location.href='https://www.behance.net/paugarcafranco'">
                        <div class="col-3 flex-column d-flex align-items-center justify-content-center">
                            <img alt="instagram" src="../../../../assets/icons/ic_be.png"
                                class="img-social-ic social-ic">
                        </div>
                        <div class="col-8 flex-column d-flex align-items-center justify-content-center">
                            <label class="footer-text social-ic">Pau García Franco</label>
                        </div>
                    </div>
                </div>

                <div class="col-3 flex-column d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-3 flex-column d-flex align-items-center justify-content-center">
                            <img alt="instagram" src="../../../../assets/icons/ic_email.png" class="img-social-ic">
                        </div>
                        <div class="col-8 flex-column d-flex align-items-center justify-content-center">
                            <label class="footer-text">paugafra13@outlook.com</label>
                        </div>
                    </div>
                </div>

                <div class="col-2 flex-column d-flex align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-3 flex-column d-flex align-items-center justify-content-center">
                            <img alt="instagram" src="../../../../assets/icons/ic_loct.png" class="img-social-ic">
                        </div>
                        <div class="col-8 flex-column d-flex align-items-center justify-content-center">
                            <label class="footer-text">Gto, Mx</label>
                        </div>
                    </div>
                </div>

                <div class="col-1 flex-column d-flex align-items-center justify-content-center">
                    <div class="row">
                        <img alt="logo" src="../../../../assets/icons/ic_logo.png" class="img-logo-ic">
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!--add scripts-->
    <script src="../../../controller/PortfolioPage.Controller.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>