/*footer*/
#footer {
    width: 100%;
    max-width: 100%;
    height: 10vh;
    bottom: 0;
}

.footer-row {
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #BE585F;
    padding-left: 5rem;
    padding-right: 5rem;
}

.img-social-ic {
    height: 60px;
    width: 60px;
}

.footer-text {
    color: #ffffff;
    font-family: 'Gotham Light', sans-serif;
    font-size: 14px;
    padding-top: 10px;
}

.img-logo-ic {
    width: 75px;
    height: auto;
}


.social-ic {
    cursor: pointer;
}

.div-footer {
    height: auto;
}

.col-footer {
    height: 100%;
}