/*body*/
#content {
    width: 100%;
    padding-top: 6.8rem;
    /*8.5 - Val = y */
    padding-left: 8rem;
    padding-right: 8rem;
    position: relative;
    flex: 1;
    margin-bottom: 2rem;
}

#content-container {
    height: 100%;
    /* position: relative; */
}

.principal-text {
    color: #BE585F;
    padding: 0;
    line-height: 1.3;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 10.7vh;
    margin-top: 1.5rem;
}

.line {
    width: 1rem;
    position: relative;
    z-index: -1;
}

.line-1 {
    height: 23%;
    background-color: #BE585F;
    border-radius: 20px;
}

.line-2 {
    margin-top: 39vh;
    height: 48%;
    background-color: #f9c5c9;
    border-radius: 20px;
}

.line-3 {
    margin-top: 128vh;
    background-color: #cfc7cc84;
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
    width: 1rem;
    height: 70em;
}

.line-4 {
    margin-top: 100vh;
    background-color: #CFC7CC;
    border-radius: 20px;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    width: 1rem;
    height: 100em;
}

.col-lines-1 {
    height: auto;
}

.col-lines-2 {
    position: absolute;
    bottom: 0;
    z-index: -1;
    right: 0;
    height: 100%;
    margin-right: 8rem;
    
    overflow-y: hidden;
}

.img-arrow-div {
    width: 100%;
    margin-top: 1rem;
}

.img-arrow {
    width: 15%;
}

.img-pkg {
    width: 80%;
    right: 0;
}

.dot {
    background-color: #BE585F;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.lbl-invite {
    font-family: 'Gotham Book', sans-serif;
    font-size: 3.2vh;
    margin-top: 1.5rem;
}

.lbl-distinguish {
    color: #01010177;
    font-family: 'Gotham Book', sans-serif;
    font-size: 2.8vh;
    margin-top: 1.5rem;
}

.div-invite {
    margin-left: 2rem;
}

.div-ask {
    margin-top: 1rem;
    align-items: center;
}

.div-lbl-ask {
    width: auto;
}

.lbl-ask {
    color: #01010177;
    font-family: 'Gotham Book', sans-serif;
    font-size: 2.29vh;
    margin-top: 0.8rem;
}

.div-img-c1 {
    height: auto;
    width: 62vh;
    border-radius: 35px;
    position: relative;
    display: inline-block;
    top: 0;
}

.div-img-c2 {
    height: 75%;
    width: 42vh;
    border-radius: 35px;
    position: relative;
    bottom: 0px;
    margin-left: 3rem;
    margin-top: 12rem;
}

.div-img-c3 {
    height: auto;
    width: 95%;
    border-radius: 35px;
    position: relative;
}

.div-img-c4 {
    height: auto;
    width: 88%;
    border-radius: 35px;
    position: relative;
}

.div-img-c5 {
    height: auto;
    width: 88%;
    border-radius: 35px;
    position: relative;
    display: flex;
}

.img-c1 {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border-radius: 35px;
}

.img-c2 {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    height: 100%;
    border-radius: 35px;
}

.img-c3 {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 35px;
}

.img-c4 {
    display: block;
    max-width: 92%;
    max-height: 100%;
    object-fit: fill;
    border-radius: 35px;
}

.img-finals {
    width: 55%;
}

.next-button-1 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    right: -1.5rem;
    background-color: #BE585F;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 50px;
}

.next-button-2 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    right: -1.5rem;
    background-color: #BE585F;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 50px;
}

.row-separation {
    margin-top: 10vh;
}

.row-separation-2 {
    margin-top: 10%;
}

.row-separation-3 {
    margin-top: 8vh;
}

.lbl-idi {
    font-family: 'Gotham Light', sans-serif;
    color: #BE585F;
    font-size: 2.8vh;
}

.lbl-mcont {
    font-family: 'Sheila', sans-serif;
    font-size: 5vh;
}

.img-arrow-mc {
    width: 130px;
}

.label-tag {
    font-family: 'Gotham Medium', sans-serif;
    padding-top: 1rem;
    font-size: 3.3vh;
}

.rule {
    height: 5px;
    background: #CFC7CC;
    width: 9.5rem;
    position: relative;
    margin-left: 1rem;
    border-radius: 30px;
}

.rule:after {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 10px;
    float: left;
    background: #CFC7CC;
    margin-top: -3px;
}

.rule-premium {
    height: 5px;
    background: #CFC7CC;
    width: 7.5rem;
    position: relative;
    margin-left: 1rem;
    border-radius: 30px;
}

.rule-premium:after {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 10px;
    float: left;
    background: #CFC7CC;
    margin-top: -3px;
}

.rule-premium:after {
    float: right;
}

.rule:after {
    float: right;
}

.line-tag-premium {
    width: 8rem;
    height: auto;
    position: relative;
    margin-left: 1rem;
}

/*media*/
@media (min-width: 1550px) {

    .rule {
        width: 9.5rem;
    }

    .rule-premium {
        width: 7rem;
    }

    .lbl-ask {
        color: #01010177;
        font-family: 'Gotham Book', sans-serif;
        font-size: 2.2vh;
        margin-top: 0.8rem;
    }
}

/*media*/
@media (max-width: 1550px) {

    .rule {
        width: 9.5rem;
    }

    .rule-premium {
        width: 7rem;
    }

    .lbl-ask {
        color: #01010177;
        font-family: 'Gotham Book', sans-serif;
        font-size: 2.2vh;
        margin-top: 0.8rem;
    }
}

/*media*/
@media (max-width: 1450px) {

    .rule {
        width: 8.5rem;
    }

    .rule-premium {
        width: 6.5rem;
    }

    .lbl-ask {
        color: #01010177;
        font-family: 'Gotham Book', sans-serif;
        font-size: 2.2vh;
        margin-top: 0.8rem;
    }
}

@media (max-width: 1400px) {

    .rule {
        width: 8.2rem;
    }

    .rule-premium {
        width: 6rem;
    }

    .lbl-ask {
        color: #01010177;
        font-family: 'Gotham Book', sans-serif;
        font-size: 2.2vh;
        margin-top: 0.8rem;
    }
}

@media (max-width: 1350px) {

    .rule {
        width: 7.8rem;
    }

    .rule-premium {
        width: 5.8rem;
    }

    .lbl-ask {
        color: #01010177;
        font-family: 'Gotham Book', sans-serif;
        font-size: 2.2vh;
        margin-top: 0.8rem;
    }
}

@media (max-width: 1300px) {

    .rule {
        width: 7.5rem;
    }

    .rule-premium {
        width: 5.5rem;
    }

    .lbl-ask {
        color: #01010177;
        font-family: 'Gotham Book', sans-serif;
        font-size: 2.2vh;
        margin-top: 0.8rem;
    }
}

/*media*/
@media (max-width: 1200px) {

    /* Styles for medium */
    .rule {
        width: 7rem;
    }

    .rule-premium {
        width: 5rem;
    }

    .lbl-ask {
        color: #01010177;
        font-family: 'Gotham Book', sans-serif;
        font-size: 2.2vh;
        margin-top: 0.8rem;
    }
}

/*media*/
@media (max-width: 992px) {

    /* Styles for medium */
    .rule {
        width: 5.5rem;
    }

    .rule-premium {
        width: 4rem;
    }
}

.rounded-button {
    border: none;
    background-color: #f8f6ed;
    border-radius: 30px;
    height: 7vh;
    width: 22vh;
    padding-top: 12px;
}

.rounded-button label {
    color: #BE585F;
    font-size: 20px;
    font-family: 'Gotham Medium', sans-serif;
    font-size: large;
    display: inline-block;
}

.rounded-button:hover {
    background-color: #CFC7CC;
}

.rounded-button:active {
    background-color: #000000;
}