.centered-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.my-spinner {
    color: #BE585F;
    width: 10rem;
    height: 10rem;
}